In [1]:
#extract those elements which is more than 5
w=[1,2,3,4,5,6,7,8,3,3,2,7,8,5]
for j in w:
    if j>5:
        print(j)

6
7
8
7
8

In [4]:
#Loop
l=[1,2,3,4,5,6]
#for variable in l:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [2]:
g=["a","b","c","d","e"]
for f in g:
    print(f)

a
b
c
d
e

In [3]:
#extract those elements which is more than 5
w=[1,2,3,4,5,6,7,8,3,3,2,7,8,5]
for j in w:
    if j>5:
        print(j)

6
7
8
7
8

In [5]:
#extract even elements
w=[1,2,3,4,5,6,7,8,3,3,2,7,8,5]
for j in w:
    if j%2==0:
        print(j)

2
4
6
8
2
8

In [8]:
w=[1,2,3,4,5,6,7,8,3,3,2,7,8,5]
for j in w:
    if j<=3 and j<=7:
        print(j)

1
2
3
3
3
2

In [9]:
w=[1,2,3,4,5,6,7,8,3,3,2,7,8,5]
for j in w:
    if j%2==0:
        print(j**2)

4
16
36
64
4
64

In [10]:
#print those names start with a
name=["rohan","abishek","robin","karan","aman","pankaj","aashta"]
for h in name:
    if h[0]=="a":
        print(h)

abishek
aman
aashta

In [11]:
#print those names start with a
name=["rohan","abishek","robin","karan","aman","pankaj","aashta"]
for h in name:
    print(h[:4])

roha
abis
robi
kara
aman
pank
aash

In [12]:
#print all leap years
year=(2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010)
for i in year:
    if i%4==0 and i%100!=0 or i%400==0:
        print(i)

2000
2004
2008

In [14]:
s=[4,7,8,5,2,3,5,6,8,9,2]
s.sort()
s[2]

3