In [6]:
#square:
a=86
print('square of 86 is:', a**2)

#cuberoot of 785:
b=785
print('cuberoot of 785 is:', b**(1/3))

square of 86 is: 7396
cuberoot of 785 is: 9.224791357467582

In [8]:
# sum of 2 digits:
num1=34
num2=66
sum=num1+num2
print(f'{num1} and {num2} is equal to {sum}')

34 and 66 is equal to 100

In [ ]:
#15908 min into hours
min = 15908
hours = min / 60
print(f'{min} minutes is equal to {hours} hours')

In [15]:
# 154783 hours to days
hour=154783
days=154783//24
print(f'{hours} hours is equal to {days} days')

265.1333333333333 hours is equal to 6449 days

In [16]:
h="95"
g= int(h)
i=float(h)
print(type(g))
print(type(i))

<class 'int'>
<class 'float'>

In [19]:
# input float value from user and check its type
p=float(input('enter value of p'))
print(p)
print(type(p))

55.0
<class 'float'>

In [37]:
#sec=784569324 to hrs, min and sec:
sec=784569324  
hours = sec // 3600
min = (sec % 3600) // 60
sec = sec % 60
print(hours, min, sec)

217935 55 24

In [ ]:


# Q1 convert the whole string into upper case 
# Q2 find the index value of 2nd "village"

# Q3 remove "unique identifier for each village from the string

# 04 print the count of "village"

# 05 split whole string using "block"

# Q6 extract "Since village name may not be unique from string

In [43]:
st = """Each row contains a unique village, the block containg the village and the district containing the block. Since village nmae may not be unique, the field village 
code is used as the unique identifier for each village.
Primary key: village code child_register Contains the information of th"""
print(st.upper())

SHIVAM

-1

In [ ]:
st.find('village', 28)
r='unique identifier for each village'
st.replace('unique identifier for each village', '')

In [ ]:
str='shivam'
print(str.upper())

str.find('village', 28)